In [3]:
def lesser_ofnum(a,b):
    if (a%2 == 0) and (b%2 == 0):
        if a<b:
            result = a
        else:
            result = b
    else:
        if a>b:
            result = a
        else:
            result = b
            
    return result

In [7]:
lesser_ofnum(9,7)

9

In [8]:
min(10,20)

10

In [9]:
max(10,20)

20

In [12]:
def lesser_ofnum(a,b):
    if (a%2 == 0) and (b%2 == 0):
        return min(a,b)
    else:
        return max(a,b)

In [13]:
lesser_ofnum(9,7)

9

In [18]:
def animal_crackers(text):
    words = text.split()
    word1 = words[0]
    word2 = words[1]
    return word1[0] == word2[0]

In [19]:
animal_crackers('Hello Hawy')

True

In [25]:
def animal_crackers(text):
    words = text.lower().split()
    return words[0][0] == words[1][0]

In [27]:
animal_crackers('Hello hawy')

True

In [28]:
def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [29]:
makes_twenty(10,8)

False

In [ ]:
def makes_twenty(n1,n2):
    if (n1 == 20) or (n2 == 20):
        return True
    elif n1+n2 == 20:
        return True
    else:
        return False

In [30]:
makes_twenty(10,8)

False

In [33]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize()+second_half.capitalize()

In [34]:
old_macdonald('macdon')

'MacDon'

In [ ]:
def old_macdonald(name):
    letter1 = name[0]
    letter2 = name[3]
    letter5 = name[1:3]
    letter6 = name[4:]
    return letter1.upper()+letter5+letter2.upper()+letter6

In [35]:
old_macdonald('macdonald')

'MacDonald'

In [66]:
def master_yoda(text):
    word = text.split()
    rword = word[::-1]
    return " ".join(rword)

In [67]:
master_yoda('I know him')

'him know I'

In [68]:

def almost_there(n):
    if abs(n-100) == 10:
        return True
    elif abs(n-200) == 10:
        return True
    else:
        return False

In [72]:
almost_there(210)

True

In [36]:
def almost_there(n):
    return(abs(100-n)<=10) or (abs(200-n)<=10)

In [37]:
almost_there(210)

True

In [5]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    
    return False

In [10]:
has_33([1,5,5,3,3,3])

True

In [12]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    
    return False

In [13]:
has_33([1,5,5,3,3,3])

True

In [16]:
def paper_doll(text):
    result = ''
    for letter in text:
        result += letter*3
    return result

In [17]:
paper_doll('Hello')

'HHHeeellllllooo'

In [22]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif a+b+c <= 31 and 11 in [a,b,c]:
        return sum([a,b,c])-10
    else:
        return 'Bust'

In [23]:
blackjack(9,9,11)

19

In [27]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [30]:
summer_69([2,1,6,9,11])

14

In [44]:
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [47]:
spy_game([1,2,3,0,1,0,2,7])

True

In [52]:
def count_primes(num):
    
    #check for 0 or 1
    if num < 2:
        return 0
    
    ##############
    #check 2 or greater
    ##############
    
    #store primes
    primes = [2]
    #  Counter going up to the input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        # check if x is prime
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [53]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [54]:
def print_big(letter):
    patterns = {1:'*', 2: '*  *', 3: '*   *', 4:'*****', 5:'****', 6:'*', 7:'*  *', 8:'*   *', 9:'*'}
    alphabet = {'A':[1,2,3,4,5], 'B':[1,3,4,5,6], 'C':[4,3,5,6,7]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [61]:
print_big('C')

*****
*   *
****
*
*  *